{% extends '@Admin/layout.twig' %}

{% block title "Ajouter un Genre" %}


{% block body %}

<h1>Ajouter un Genre:</h1>

<form action=" {{ path(routePrefix ~ '.create') }}" method="POST">
 {% include viewPath ~ '/form.twig' %}
	<button type="submit" class="btn btn-primary">Ajouter</button>

</form>



{% endblock %}