{% extends '@Admin/layout.twig' %}

{% block title "Creer une video" %}


{% block body %}

<h1>Ajouter une video:</h1>

<form action="" method="POST" >
 {% include viewPath ~ '/form.twig' %}
	<button type="submit" class="btn btn-primary">Ajouter</button>

</form>



{% endblock %}